/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Noto Sans TC', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Courgette', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
}
header {
  background-image: url(../images/media/alexandre-godreau-445969-unsplash.jpg);
  background-size: 100%;
}
header .logo-img {
  width: 62%;
  margin: 1rem 19%;
  position: absolute;
  top: 0px;
  margin-top: 10px;
}
header #search-bar {
  display: none;
}
@media (min-width: 800px) {
  header .logo-img {
    position: static;
    width: 40%;
    margin: 10px 30% 30px 30%;
  }
  header .search-bar {
    padding: 40px 0 140px 0;
  }
  header .search-bar #search-bar {
    display: block;
    width: 24%;
    height: 35px;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    background-color: #557777;
    margin: 0 38% 0 38%;
    border-radius: 5px;
    border-color: #557777;
  }
}
header nav {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
header nav a {
  width: 70%;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-decoration: none;
  font-size: 1.9rem;
  padding: 4rem 0;
  margin: 0 15%;
  border-bottom: 1px solid white;
}
header nav a:first-child {
  border-top: 1px solid white;
  margin-top: 160px;
}
header nav a:last-child {
  border-bottom: none;
}
@media (min-width: 500px) {
  header nav {
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1rem 0;
  }
  header nav a,
  header nav a:first-child {
    width: 40%;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    border: none;
    margin: 200px  5% 60px 5%;
  }
}
@media (min-width: 800px) {
  header nav {
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 1rem 0;
    margin-top: 0;
  }
  header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    border: none;
    margin: 0 5%;
  }
  header nav a:first-child {
    margin-top: 0;
    border-top: none;
  }
}
.main-content {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.main-content .subject {
  padding-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  background-color: #ccbbaa;
}
.main-content .subject .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.main-content .subject .content .review {
  width: 35%;
  margin: 10px 5%;
  border: 2px solid black;
  border-radius: 10px;
}
.main-content .subject .content .review p {
  font-size: 0.9rem;
  background-color: white;
}
.main-content .subject .content .review img {
  border-bottom: 1px solid black;
}
@media (min-width: 800px) {
  .main-content .subject {
    padding-bottom: 30px;
  }
  .main-content .subject .content {
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .main-content .subject .content .review {
    width: 22%;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-radius: 10px;
  }
  .main-content .subject .content .review img {
    border-bottom: 1px solid black;
  }
}
.main-content .recent-reviews {
  padding-bottom: 20px;
}
.main-content .new-oer-books {
  background-color: #aa8866;
}
.main-content .browse-categories {
  padding: 50px 0;
  background-color: #aa8866;
}
.main-content .browse-categories .book-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px 0 0 0;
}
.main-content .browse-categories .book-categories .category {
  width: 30%;
  margin: 4px 1%;
  padding: 4%;
  border-radius: 10px;
  background-color: lightgray;
}
.main-content .browse-categories .book-categories .category h3 {
  font-size: 1.8rem;
}
.main-content .browse-categories .book-categories .category img {
  width: 100%;
  padding: 0;
}
@media (min-width: 800px) {
  .main-content .browse-categories .book-categories {
    justify-content: space-evenly;
  }
  .main-content .browse-categories .book-categories .category {
    width: 22%;
    margin: 12px 0;
  }
  .main-content .browse-categories .book-categories .category h3 {
    font-size: 2rem;
  }
}
footer {
  color: #22283B;
  background: #ccbbaa;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
