/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Noto Sans TC', sans-serif;
}
.main-pg {
  background-color: #ccbbaa;
  background-image: url(../images/media/alexandre-godreau-445969-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Courgette', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: #ccbbaa;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  padding-top: 100px;
  /*PAGE TITLE*/
  /*SEARCH BAR*/
}
header nav {
  width: 100%;
  padding: 0;
  margin: 0;
}
header nav .container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}
header nav .container-fluid .navbar-header {
  padding: 0;
  padding-left: 5%;
  margin: 0;
}
header nav .container-fluid .navbar-header .logo-img {
  width: 20%;
}
@media (min-width: 500px) {
  header nav .container-fluid {
    display: flex;
    flex-flow: row nowrap;
  }
  header nav .container-fluid .navbar-header {
    width: 30%;
  }
  header nav .container-fluid .navbar-header button {
    display: none;
  }
  header nav .container-fluid .navbar-header .logo-img {
    width: 100%;
  }
  header nav .container-fluid .navbar-collapse {
    display: block;
    width: 65%;
    height: 100%;
    padding-left: 5%;
    border-top: none;
  }
  header nav .container-fluid .navbar-collapse .navbar-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
  }
}
@media (min-width: 1000px) {
  header nav .container-fluid {
    display: flex;
    flex-flow: row nowrap;
  }
  header nav .container-fluid .navbar-header {
    width: 20%;
    padding-left: 5%;
  }
  header nav .container-fluid .navbar-header button {
    display: none;
  }
  header nav .container-fluid .navbar-header .logo-img {
    width: 100%;
  }
  header nav .container-fluid .navbar-collapse {
    width: 55%;
    height: 100%;
    padding-left: 5%;
  }
  header nav .container-fluid .navbar-collapse .navbar-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.8rem;
  }
}
header h1 {
  padding: 10%;
  margin: 120px 0;
  font-size: 4rem;
  line-height: 5.5rem;
  text-align: center;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
header h1 .word {
  font-size: 4.5rem;
}
@media (min-width: 500px) {
  header h1 {
    font-size: 5rem;
    line-height: 6.5rem;
  }
  header h1 .word {
    font-size: 6rem;
  }
}
@media (min-width: 1000px) {
  header h1 {
    font-size: 6rem;
    line-height: 7.5rem;
  }
  header h1 .word {
    font-size: 6.5rem;
  }
}
header .search-bar {
  display: flex;
}
header .search-bar #search-bar {
  display: block;
  width: 50%;
  height: 35px;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: #557777;
  margin: 0 25% 200px 25%;
  border-radius: 5px;
  border-color: white;
}
header .search-bar #search-bar a {
  text-decoration: none;
  color: white;
}
@media (min-width: 500px) {
  header .search-bar #search-bar {
    width: 40%;
    margin: 0 30% 100px 30%;
  }
}
@media (min-width: 1000px) {
  header .search-bar {
    padding: 0 0 250px 0;
  }
  header .search-bar #search-bar {
    display: block;
    width: 24%;
    height: 35px;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    background-color: #557777;
    margin: 0 38% 0 38%;
    border-radius: 5px;
    border-color: white;
  }
}
.main-content {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.main-content .left-button,
.main-content .right-button {
  display: none;
}
.main-content .subject {
  padding-top: 50px;
  display: flex;
  flex-flow: column nowrap;
}
.main-content .subject h2 {
  font-size: 4rem;
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
  margin-bottom: 20px;
}
.main-content .subject .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.main-content .subject .content .review {
  width: 70%;
  margin: 10px 15%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}
.main-content .subject .content .review .description {
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.main-content .subject .content .review img {
  border-bottom: 1px solid black;
}
.main-content .top-oer-books .review:nth-child(3),
.main-content .top-oer-books .review:nth-child(4) {
  display: none;
}
.main-content .recent-reviews .review:nth-child(2),
.main-content .recent-reviews .review:nth-child(3) {
  display: none;
}
.main-content .new-oer-books .review:nth-child(3),
.main-content .new-oer-books .review:nth-child(4) {
  display: none;
}
@media (min-width: 500px) {
  .main-content .subject {
    padding-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #ccbbaa;
  }
  .main-content .subject .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
  .main-content .subject .content .review {
    width: 35%;
    margin: 10px 5%;
    border: 2px solid black;
    border-radius: 10px;
  }
  .main-content .subject .content .review p {
    font-size: 0.9rem;
    background-color: white;
  }
  .main-content .subject .content .review img {
    border-bottom: 1px solid black;
  }
  .main-content .top-oer-books .review:nth-child(3),
  .main-content .top-oer-books .review:nth-child(4) {
    display: block;
  }
  .main-content .recent-reviews .review:nth-child(2),
  .main-content .recent-reviews .review:nth-child(3) {
    display: block;
  }
  .main-content .new-oer-books .review:nth-child(3),
  .main-content .new-oer-books .review:nth-child(4) {
    display: block;
  }
}
@media (min-width: 1000px) {
  .main-content .subject {
    padding-bottom: 30px;
  }
  .main-content .subject .content {
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .main-content .subject .content .review {
    width: 30%;
    padding: 0;
    border: 2px solid black;
    border-radius: 10px;
  }
  .main-content .subject .content .review img {
    border-bottom: 1px solid black;
  }
  .main-content .top-oer-books .carousel .review,
  .main-content .new-oer-books .carousel .review {
    display: none;
    width: 40%;
  }
  .main-content .left-button,
  .main-content .right-button {
    display: block;
    position: absolute;
    width: 4%;
    height: 40px;
    font-size: 3rem;
    color: white;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
  }
  .main-content .left-button {
    top: 280px;
    left: 10%;
    transform: translate(0, -50%);
  }
  .main-content .right-button {
    top: 280px;
    right: 10%;
    transform: translate(0, -50%);
  }
  .main-content .left-button:hover,
  .main-content .right-button:hover {
    font-weight: bold;
    border: 1px solid lightgray;
  }
}
.main-content .recent-reviews {
  padding-bottom: 20px;
}
.main-content .new-oer-books {
  background-color: #aa8866;
}
.main-content .browse-categories {
  padding: 50px 0;
  background-color: #aa8866;
}
.main-content .browse-categories h2 {
  font-size: 4rem;
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
  margin-bottom: 20px;
}
.main-content .browse-categories .book-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px 0 0 0;
}
.main-content .browse-categories .book-categories .category {
  width: 40%;
  margin: 4px 1%;
  padding: 4%;
  border-radius: 10px;
  border: 2px solid white;
  background-color: lightgray;
  cursor: pointer;
}
.main-content .browse-categories .book-categories .category h3 {
  width: 100%;
  font-size: 1.8rem;
}
.main-content .browse-categories .book-categories .category img {
  width: 100%;
  padding: 0;
}
@media (min-width: 500px) {
  .main-content .browse-categories {
    padding: 50px 0;
    background-color: #aa8866;
  }
  .main-content .browse-categories .book-categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px 0 0 0;
  }
  .main-content .browse-categories .book-categories .category {
    width: 30%;
    margin: 4px 1%;
    padding: 4%;
    border-radius: 10px;
    background-color: lightgray;
  }
  .main-content .browse-categories .book-categories .category h3 {
    font-size: 1.8rem;
  }
  .main-content .browse-categories .book-categories .category img {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 1000px) {
  .main-content .browse-categories .book-categories {
    justify-content: space-evenly;
  }
  .main-content .browse-categories .book-categories .category {
    width: 22%;
    margin: 12px 0;
  }
  .main-content .browse-categories .book-categories .category h3 {
    font-size: 2rem;
  }
}
footer {
  color: #22283B;
  background: #ccbbaa;
  padding: 20px 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
footer .social-media {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  margin: 30px 0;
}
footer .social-media .social {
  width: 25%;
  cursor: pointer;
}
