header {
    background-image: url(../images/media/alexandre-godreau-445969-unsplash.jpg);
    background-size: 100%;

    .logo-img {
        width: 62%;
        margin: 1rem 19%;
        position: absolute;
        top: 0px;
        margin-top: 10px;
    }

    // @media @desktop {
    //     .logo-img{
    //         top: 0;
    //     }
        
    // }

    nav {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;

        a {
            width: 100%;
            color: white;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            text-decoration: none;
            font-size: 1.9rem;
            padding: 4rem 0;
            border-bottom: 1px solid white;
        }

        a:first-child {
            border-top: 1px solid white;
            margin-top: 160px;
        }
        
        a:last-child {
            border-bottom: none;
        }
    }

    // @media @desktop {
    //     nav {
    //     flex-flow: row nowrap;
    //     justify-content: space-around;
    //     padding: 1rem 0;
    //     margin-top: 0;
            
    //         a, a:first-child {
    //             color: white;
    //             text-decoration: none;
    //             font-size: 1.3rem;
    //             border: none;
    //         }
    //     }
    
    // }

    // .search-bar-area {

    //     #search-bar {
    //         width: 80%;
    //         height: 3rem;
    //         margin: 0 15%;
    //     }
    // }
}