header {
        background-image: url(../images/media/alexandre-godreau-445969-unsplash.jpg);
        background-size: 100%;

    nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding: 1rem 0;

        .leftNav, .rightNav {
            display: flex;
            flex-flow: row nowrap;
            width: 30%;
            justify-content: space-between;
            
            a {
                color: white;
                text-decoration: none;
                font-size: 1.3rem;
            }
        }
    }

    .logo-img {
        // border: 1px solid red;
        width: 20%;
        margin: 5rem 40% 2rem 40%;
    
    }

    #search-bar {
        width: 60%;
        margin: 0 20% 8rem 20%;
    }


}