.main-content {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;


    .subject {
        padding-top: 50px;
        display: flex;
        flex-flow: column nowrap;
        background-color: #ccbbaa;

        .content {
            display:flex;
            flex-flow: row wrap;
            justify-content: center;
            width: 100%;

            .review {
                width: 35%;
                // padding: 10px 5%;
                margin: 10px 5%;
                border: 2px solid black;
                border-radius: 10px;

                p {
                    font-size: 0.9rem;
                    background-color: white;
                }

                img {
                    border-bottom: 1px solid black;
                }
            }
        
        }
        
    }

    @media @desktop {
        .subject {

            padding-bottom: 30px;

            .content{
                flex-flow: row nowrap;
                justify-content: space-around;

                .review {
                    width: 22%;
                    margin: 0;
                    padding: 0;
                    border: 2px solid black;
                    border-radius: 10px;

                    img {
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
    }

    .recent-reviews {
        padding-bottom: 20px;
    }

    .new-oer-books {
        background-color: #aa8866;
    }

    .browse-categories {
        padding: 50px 0;
        background-color: #aa8866;


        .book-categories {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: 10px 0 0 0;

            .category {
                width: 30%;
                margin: 4px 1%;
                border: 1px solid black;
                background-color: white;

                h3 {
                    font-size: 1.2rem;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    // @media @desktop {
    //     .book-categories {
    //         display: flex;
    //         flex-flow: row wrap;
    //         margin: 10px 0;

    //         .category {
    //             width: 30%;
    //             margin: 4px 1%;
    //             border: 1px solid black;
    //             background-color: white;

    //             h3 {
    //                 font-size: 1.2rem;
    //             }
    //         }
    //     }
    // }
}